
.main-router {
  border: 1px solid red;
  padding: 1rem;
}
*{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    gap: 2rem;
}
nav ul li, a{
    list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 500;
}
li button{
    padding: 0.5rem 1rem;
    margin: 0;
}
li:hover{
    font-size: 18px;
}